@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-gray-900;
}

.pattern {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(241 245 249 / 0.03)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}
.content-grid__bg {
  width: 100%;
  height: 100%;
  color: #331e3f;
}
.chat-history {
  @apply !w-full;
}
.scroll-hidden {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.scroll-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.markdown p {
  @apply leading-[30px] text-[17px];
}
.scroller::-webkit-scrollbar-track {
  @apply bg-[#271a36];
  border-radius: 9999px;
}
.scroller::-webkit-scrollbar-thumb {
  background-color: rgba(217, 217, 227, 0.8);
  border-color: rgba(255, 255, 255, 1);
  border-radius: 9999px;
  border-width: 1px;
}
.scroller::-webkit-scrollbar {
  height: 1rem;
  width: 0.5rem;
}
.scroller::-webkit-scrollbar-thumb {
  background-color: rgb(64 45 86 / 83%);
}
.scroller::-webkit-scrollbar-thumb:hover {
  background-color: rgba(82, 58, 110, 0.83);
}
.pre-syntax > div {
  @apply !px-3 !py-2 !rounded-[3px] !bg-slate-800 !bg-opacity-30 border border-slate-800 scrollbar-thin scrollbar-thumb-slate-700 scrollbar-track-slate-800;
}
.blink {
  animation: blinker 0.8s infinite;
}
.prose :where(pre):not(:where([class~="not-prose"] *)) {
  @apply !bg-transparent !p-0 !m-0 !rounded-none;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* // grab last item of markdown-p*/
.markdown-p:last-child .blink {
  @apply inline-flex;
}
